body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
    font-family: "Poppins", sans-serif;
}

body > * {
    flex: 1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* ---------------------------------------------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.header .container {
    background-color: rgb(207, 207, 207);
    padding: 0 20px;
    border: 2px solid black;
    box-shadow: 0 0 20px black;
    font-size: 28px;
    border-radius: 12px;
}

/* ---------------------------------------------------- */

.content {
    display: flex;
    gap: 80px;
    height: 80vh;
}

/* ---------------------------------------------------- */

.left, .right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 150px;
    justify-content: center;
    padding-bottom: 100px;
}

button {
    font-family: "Poppins", sans-serif;
    padding: 20px 10px;
    font-size: 21px;
    font-weight: 700;
    border-radius: 12px;
    max-width: 175px;
    cursor: pointer;
    background-color: rgb(207, 207, 207);
    transition: all 0.3s;
    border-style: none;
    border: 2px solid black;
    box-sizing: border-box;
}

button#pen {
    background-color: #696969;
    box-shadow: 0 0 20px black;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px black;
}

.color-changer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wheel-border {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    border-radius: 50%;
    border: 2px solid black;
    transition: all 0.3s;
}

.wheel-border:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px black;
}

#pen-wheel {
    width: 70px;
    height: 70px;
    background-color: #000000;
    border-radius: inherit;
    box-sizing: border-box;
    border: 2px solid black;
}

#bg-wheel {
    width: 70px;
    height: 70px;
    background-color: #cfcfcf;
    border-radius: inherit;
    box-sizing: border-box;
    border: 2px solid black;
}

input[type="color"] {
    border: none;
    cursor: pointer;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    padding: 0;
    opacity: 0;
    transition: all 0.2s;
}

input[type="color"]:hover {
    transform: scale(1.1);
} 

/* ---------------------------------------------------- */

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.draw-container {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: grid;
    cursor: crosshair;
    background-color: rgb(207, 207, 207);
    box-shadow: 0 0 20px black;
}

.slider {
    text-align: center;
}

.middle input[type="range"] {
    -webkit-appearance: none !important;
    width: 420px;
    height: 10px;
    background-color: rgb(207, 207, 207);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
}

.middle input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 30px;
    height: 30px;
    background-color: rgb(207, 207, 207);
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

.middle input[type="range"]::-webkit-slider-thumb:hover {
    background-color: black;
    transform: scale(1.1);
}

/* ---------------------------------------------------- */

p {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 0;
}

.footer {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 5vh;
}

.footer a {
    color: black;
}